@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/custom.css")

</head>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form name="search">
    <div class="search d-flex">
        <input id="searchBox" type="text" name="searchKeyword" class="form-control " required="true" placeholder="Search by name, agent code or policy number">
        <input class="btn btn-primary" type="submit" value="Find" id="btnSearch">
    </div>
        @{ 

            

        }

    <input type="text" value="hola mundo" >
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nombre</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>Carlos</td>
            </tr>
        </tbody>
    </table>
    <input type="submit" >

        </form>

</body>
</html>
